{% extends "templates/layout.html" %}
{% load static %}
{% block title %}
  {% if form.instance.pk %}
    Editar
  {% else %}
    Crear
  {% endif %}
  Orden de Compra
{% endblock title %}
{% block body %}
  <h2>Información de Orden de Compra</h2>
  <section class="row mb-3">
    <div class="col-12 col-lg-4 mb-3">
      <strong>Número de Orden:</strong> {{ orden.numero_de_orden }}
    </div>
    <div class="col-md-4 col-12 mb-3">
      <strong>Proveedor:</strong> {{ orden.proveedor.nombre }}
    </div>
    <div class="col-lg-4 col-12 mb-3">
      <strong>Negocio:</strong> {{ orden.negocio.nombre }}
    </div>
    <div class="col-lg-4 col-12 mb-3">
      <strong>Fecha de Creación:</strong> {{ orden.fecha_creado|date:"d/m/Y H:i" }}
    </div>
    <div class="col-lg-4 col-12 mb-3">
      <strong>Total:</strong> {{ orden.total }}
    </div>
  </section>
  <h4>Productos en la Orden</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {% for item in productos_en_orden %}
        <tr>
          <td>{{ item.producto.nombre }}</td>
          <td>{{ item.precio_unitario }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.subtotal }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="text-center">No hay productos en esta orden.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if orden.estatus == 'pendiente' %}
    <div class="row">
      <div class="mt-3">
        <a href="{% url 'compra:autorizar_od' orden.id %}"
           class="btn btn-secondary">Autorizar</a>
      </div>
      <div class="mt-3">
        <a href="{% url 'compra:rechazar_od' orden.id %}" class="btn btn-danger">Rechazar</a>
      </div>
    </div>
  {% elif orden.estatus == 'autorizada' %}
    <div class="alert alert-success mt-3" role="alert">Esta orden ha sido autorizada.</div>
    <div class="mt-3">
      <a href="{% url 'compra:completar_orden' orden.id %}"
         class="btn btn-primary">Completar</a>
    </div>
  {% elif orden.estatus == 'rechazada' %}
    <div class="alert alert-danger mt-3" role="alert">Esta orden ha sido rechazada.</div>
  {% elif orden.estatus == 'completada' %}
    <div class="alert alert-info mt-3" role="alert">Esta orden ha sido completada.</div>
  {% endif %}
{% endblock body %}
