{% extends "templates/layout.html" %}
{% load static %}
{% block title %}
  {% if edit %}
    Editar Producto
  {% else %}
    Añadir Producto
  {% endif %}
{% endblock title %}
{% block body %}
  <script src="{% static 'js/add.js' %}"></script>
  <div class="container">
    <h3 class="mb-3 col-12">
      {% if edit %}
        Editar Producto
      {% else %}
        Añadir Producto
      {% endif %}
    </h3>
    <div class="row">
      <div class="col-12">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <section class="row">
            <div class="col-md-4 mb-3">
              {{ form.nombre.label_tag }}
              {{ form.nombre }}
            </div>
            <div class="col-md-4 mb-3">
              {{ form.sku.label_tag }}
              {{ form.sku }}
            </div>
            <div class="col-md-4 mb-3">
              {{ form.categoria_id.label_tag }}
              {{ form.categoria_id }}
            </div>
            <div class="col-md-12 mb-3">
              {{ form.descripcion.label_tag }}
              {{ form.descripcion }}
            </div>
            <div class="col-md-4 mb-3">
              {{ form.precio.label_tag }}
              <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                {{ form.precio }}
              </div>
            </div>
            <div class="col-md-4 mb-3">
              {{ form.stock_min.label_tag }}
              {{ form.stock_min }}
            </div>
            <div class="col-md-4 mb3">
              {{ form.imagen.label_tag }}
              {{ form.imagen }}
            </div>
            <div class="col-md-4 mb-3 {% if edit %}{{ 'd-none' }}{% endif %}">
              {{ form.addCantidad }}
              {{ form.addCantidad.label_tag }}
            </div>
            <div class="col-12 mb-3 d-none" id="cantidadField">
              {{ form.cantidad.label_tag }}
              {{ form.cantidad }}
            </div>
          </section>
          {% if edit %}
            <section class="row">
              <div class="col-md-6 mb-3">
                {{ form.cantidad_actual.label_tag }}
                {{ form.cantidad_actual }}
              </div>
              <div class="col-md-6 mb-3">
                {{ form.cantidad_nueva.label_tag }}
                {{ form.cantidad_nueva }}
              </div>
            </section>
          {% endif %}
          <button type="submit" class="btn btn-primary w-100">
            {% if edit %}
              Editar Producto
            {% else %}
              Añadir Producto
            {% endif %}
          </button>
        </form>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-md-4">
        {% include "card_producto.html" with add=True titulo=producto.nombre|default:"Producto" codigo=producto.sku desc=producto.descripcion|default:"Descripción" precio=producto.precio imagen=producto.get_imagen_url %}
      </div>
    </div>
  </div>
{% endblock body %}
