{% extends "templates/layout.html" %}
{% block title %}Productos{% endblock title %}
{% block body %}
  <div class="container">
    <h3 class="mb-3 col-12">Productos</h3>
    <p>Selecciona un producto de la lista.</p>
    <section class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 g-4">
      {% for producto in productos %}
        <div class="col">
          <a class="link-card" href="{% url 'inventory:edit' producto.pk %}">
            {% include "card_producto.html" with imagen=producto.get_imagen_url titulo=producto.nombre codigo=producto.sku desc=producto.descripcion precio=producto.precio stock=producto.inventario.cantidad modificado=producto.modificado %}
          </a>
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock body %}
